---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  app.kubernetes.io/managed-by: kustomization

resources:
- configmap.yml
- service.yml
- zookeeper.yml

images:
- name: zookeeper
  newName: docker.io/zookeeper
  newTag: "3.9"
