apiVersion: v1
kind: ConfigMap
metadata:
  name: nifi-cm
data:
  NIFI_FLOW_CONFIGURATION_FILE: "./conf/flow.json.gz"
  NIFI_FLOW_CONFIGURATION_ARCHIVE_ENABLED: "true"
  NIFI_FLOW_CONFIGURATION_ARCHIVE_MAX_TIME: "30 days"
  NIFI_FLOW_CONFIGURATION_ARCHIVE_MAX_STORAGE: "500 MB"
  NIFI_FLOWCONTROLLER_AUTORESUMESTATE: "true"
  NIFI_FLOWCONTROLLER_GRACEFUL_SHUTDOWN_PERIOD: "10 sec"
  NIFI_FLOWSERVICE_WRITEDELAY_INTERVAL: "500 ms"
  NIFI_ADMINISTRATIVE_YIELD_DURATION: "30 sec"
  NIFI_BORED_YIELD_DURATION: "10 millis"
  NIFI_QUEUE_BACKPRESSURE_COUNT: "10000"
  NIFI_QUEUE_BACKPRESSURE_SIZE: "1 GB"

  NIFI_STATE_MANAGEMENT_CONFIGURATION_FILE: "./conf/state-management.xml"
  NIFI_STATE_MANAGEMENT_EMBEDDED_ZOOKEEPER_START: "false"
  NIFI_STATE_MANAGEMENT_PROVIDER_LOCAL: "local-provider"
  NIFI_STATE_MANAGEMENT_PROVIDER_CLUSTER: "zk-provider"

  NIFI_DATABASE_DIRECTORY: "./database_repository"

  NIFI_FLOWFILE_REPOSITORY_IMPLEMENTATION: "org.apache.nifi.controller.repository.WriteAheadFlowFileRepository"
  NIFI_FLOWFILE_REPOSITORY_DIRECTORY: "./flowfile_repository"
  NIFI_FLOWFILE_REPOSITORY_CHECKPOINT_INTERVAL: "20 secs"
  NIFI_FLOWFILE_REPOSITORY_ALWAYS_SYNC: "false"
  NIFI_FLOWFILE_REPOSITORY_RETAIN_ORPHANED_FLOWFILES: "true"

  NIFI_CONTENT_REPOSITORY_IMPLEMENTATION: "org.apache.nifi.controller.repository.FileSystemRepository"
  NIFI_CONTENT_CLAIM_MAX_APPENDABLE_SIZE: "1 MB"
  NIFI_CONTENT_REPOSITORY_DIRECTORY_DEFAULT: "./content_repository"
  NIFI_CONTENT_REPOSITORY_ARCHIVE_MAX_RETENTION_PERIOD: "7 days"
  NIFI_CONTENT_REPOSITORY_ARCHIVE_MAX_USAGE_PERCENTAGE: "50%"
  NIFI_CONTENT_REPOSITORY_ARCHIVE_ENABLED: "true"
  NIFI_CONTENT_REPOSITORY_ALWAYS_SYNC: "false"
  NIFI_CONTENT_VIEWER_URL: "/nifi-content-viewer/"

  NIFI_PROVENANCE_REPOSITORY_IMPLEMENTATION: "org.apache.nifi.provenance.WriteAheadProvenanceRepository"
  NIFI_PROVENANCE_REPOSITORY_DIRECTORY_DEFAULT: "./provenance_repository"
  NIFI_PROVENANCE_REPOSITORY_MAX_STORAGE_TIME: "30 days"
  NIFI_PROVENANCE_REPOSITORY_MAX_STORAGE_SIZE: "10 GB"
  NIFI_PROVENANCE_REPOSITORY_ROLLOVER_TIME: "10 mins"
  NIFI_PROVENANCE_REPOSITORY_ROLLOVER_SIZE: "100 MB"
  NIFI_PROVENANCE_REPOSITORY_QUERY_THREADS: "2"
  NIFI_PROVENANCE_REPOSITORY_INDEX_THREADS: "2"
  NIFI_PROVENANCE_REPOSITORY_COMPRESS_ON_ROLLOVER: "true"
  NIFI_PROVENANCE_REPOSITORY_ALWAYS_SYNC: "false"
  NIFI_PROVENANCE_REPOSITORY_CONCURRENT_MERGE_THREADS: "2"
  NIFI_PROVENANCE_REPOSITORY_WARM_CACHE_FREQUENCY: "1 hour"

  NIFI_COMPONENTS_STATUS_REPOSITORY_IMPLEMENTATION: "org.apache.nifi.controller.status.history.VolatileComponentStatusRepository"
  NIFI_COMPONENTS_STATUS_REPOSITORY_BUFFER_SIZE: "1440"
  NIFI_COMPONENTS_STATUS_SNAPSHOT_FREQUENCY: "1 min"

  NIFI_WEB_HTTP_PORT: ""
  NIFI_WEB_HTTPS_PORT: "8443"
  NIFI_WEB_HTTPS_HOST: "0.0.0.0"
  NIFI_WEB_HTTPS_SNI_HOST_CHECK: "false"
  NIFI_WEB_JETTY_THREADS: "200"
  NIFI_WEB_MAX_HEADER_SIZE: "16 KB"
  NIFI_WEB_MAX_REQUESTS_PER_SECOND: "30000"
  NIFI_WEB_MAX_ACCESS_TOKEN_REQUESTS_PER_SECOND: "25"
  NIFI_WEB_REQUEST_TIMEOUT: "60 secs"
  NIFI_WEB_SHOULD_SEND_SERVER_VERSION: "true"
  NIFI_WEB_PROXY_HOST: ""

  NIFI_SENSITIVE_PROPS_KEY: "th1s1s3up34e5r37"
  NIFI_SENSITIVE_PROPS_ALGORITHM: "NIFI_PBKDF2_AES_GCM_256"

  NIFI_SECURITY_AUTORELOAD_ENABLED: "false"
  NIFI_SECURITY_USER_AUTHORIZER: "managed-authorizer"
  NIFI_SECURITY_ALLOW_ANONYMOUS_AUTHENTICATION: "false"
  NIFI_SECURITY_USER_JWS_KEY_ROTATION_PERIOD: "PT1H"

  NIFI_SINGLE_USER_CREDENTIALS_USERNAME: "admin"
  NIFI_SINGLE_USER_CREDENTIALS_PASSWORD: "Password123456"

  NIFI_SECURITY_KEYSTORE: "./conf/keystore.p12"
  NIFI_SECURITY_KEYSTORE_TYPE: "PKCS12"
  NIFI_SECURITY_KEYSTORE_PASSWD: "th1s1s3up34e5r37"
  NIFI_SECURITY_KEY_PASSWD: "th1s1s3up34e5r37"
  NIFI_SECURITY_TRUSTSTORE: "./conf/truststore.p12"
  NIFI_SECURITY_TRUSTSTORE_TYPE: "PKCS12"
  NIFI_SECURITY_TRUSTSTORE_PASSWD: "th1s1s3up34e5r37"

  NIFI_CLUSTER_IS_NODE: "true"
  NIFI_CLUSTER_LEADER_ELECTION_IMPLEMENTATION: "KubernetesLeaderElectionManager"
  NIFI_CLUSTER_LOAD_BALANCE_PORT: "6342"
  NIFI_CLUSTER_LOAD_BALANCE_CONNECTIONS_PER_NODE: "1"
  NIFI_CLUSTER_LOAD_BALANCE_MAX_THREAD_COUNT: "8"
  NIFI_CLUSTER_LOAD_BALANCE_COMMS_TIMEOUT: "30 sec"

  NIFI_CLUSTER_NODE_PROTOCOL_PORT: "11443"
  NIFI_CLUSTER_NODE_PROTOCOL_MAX_THREADS: "50"
  NIFI_CLUSTER_NODE_MAX_CONCURRENT_REQUESTS: "100"
  NIFI_CLUSTER_NODE_CONNECTION_TIMEOUT: "5 sec"
  NIFI_CLUSTER_NODE_READ_TIMEOUT: "5 sec"

  NIFI_CLUSTER_PROTOCOL_HEARTBEAT_INTERVAL: "5 sec"
  NIFI_CLUSTER_PROTOCOL_HEARTBEAT_MISSABLE_MAX: "8"
  NIFI_CLUSTER_FLOW_ELECTION_MAX_WAIT_TIME: "5 mins"
  NIFI_CLUSTER_FLOW_ELECTION_MAX_CANDIDATES: "2"

  NIFI_ZOOKEEPER_CONNECT_STRING: "zookeeper:2181"
  NIFI_ZK_CONNECT_STRING: "zookeeper:2181"
  NIFI_ZOOKEEPER_CONNECT_TIMEOUT: "10 secs"
  NIFI_ZOOKEEPER_SESSION_TIMEOUT: "10 secs"
  NIFI_ZOOKEEPER_ROOT_NODE: "/nifi"
  NIFI_ZOOKEEPER_CLIENT_SECURE: "false"

  NIFI_ANALYTICS_PREDICT_ENABLED: "false"

  NIFI_NAR_LIBRARY_AUTOLOAD_DIRECTORY: "./extensions"
  NIFI_NAR_LIBRARY_RESTRAIN_STARTUP: "false"

  NIFI_PYTHON_WORKING_DIRECTORY: "./work/python"
  NIFI_PYTHON_MAX_PROCESSES: "100"
  NIFI_PYTHON_MAX_PROCESSES_PER_EXTENSION_TYPE: "10"
  NIFI_PYTHON_CONTROLLER_DEBUGPY_HOST: "localhost"