---
name: CI
on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/ci.yml"
      - "deployment/**"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/ci.yml"
      - "deployment/**"
  workflow_dispatch:

jobs:
  k8s-test:
    runs-on: ubuntu-latest
    if: ${{ ! contains(github.ref, 'main') }}
    steps:
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.13.0
        with:
          kubectl_version: v1.33.7
          node_image: kindest/node:v1.33.7
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run K8s test
        run: |
          kubectl create namespace nifi
          kubectl apply -n nifi -k deployment/
          kubectl get all -A

  auto-approve:
    runs-on: ubuntu-latest
    needs: [k8s-test]
    if: ${{ github.event_name == 'pull_request' }}
    steps:
    - name: Auto Approve PR
      uses: actions/github-script@v8
      with:
       script: |
        github.rest.pulls.createReview({
          owner: context.repo.owner,
          repo: context.repo.repo,
          pull_number: context.issue.number,
          event: "APPROVE"
        })
